:root {
  /* media queries */ 
  --mobile: 375px; 
  --desktop: 1440px; 

  
  /* fuentes */ 
  --font-family: 'Epilogue', sans-serif;
  --font-size: 1.8rem;
  
  /* colores */ 
  --morado-claro: hsl(249, 99%, 64%);
  --morado-oscuro: hsl(278, 94%, 30%);
  --rojo: hsl(0, 100%, 66%);
  --blanco: hsl(0, 0%, 100%);
  --gris-claro: hsl(270, 3%, 87%);
  --gris-oscuro: hsl(279, 6%, 55%);
  --negro: hsl(278, 68%, 11%);
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

/* section card */

.card {
  position: relative;
  min-height: 250px;
  margin-bottom: 120px;
  background-image: url(./images/bg-main-desktop.png);
}

.card__image-container {
  text-align: center;
  margin: 0;
}

.card__image-container--image-card-front,
.card__image-container--image-card-back {
  width: 80%;
  border-radius: 10px;
  position: absolute;
  right: 0;
  left: 0;
}

.card__image-container--image-card-front {
  top: 140px; 
  left: 20px;
}
.card__image-container--image-card-back {
  top: 40px;
  left: 50px;
}



